<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="./public/style/normalize.css">
    <link rel="stylesheet" type="text/css" media="all" href="./public/style/foundation.css">
    <script src="./public/scripts/vendor/modernizr.js"></script>
    <script src="./public/scripts/vendor/jquery.js"></script>
    <script src="./public/scripts/foundation.min.js"></script>
    <script src="http://www.xml3d.org/xml3d/script/$version" type="text/javascript"></script>
    <script src="http://www.xml3d.org/xml3d/script/tools/camera.js" type="text/javascript"></script>
    <script>
        $$(document).foundation();
    </script>
    <title>$title</title>
    <style>
        html {
            overflow: hidden;
        }

        .bottom-bar {
            position: fixed;
            bottom: 0px;
            width: 100%;
            margin-bottom: 0px;
        }

    </style>
</head>
<body>
<div class="fixed">
    <nav class="top-bar bottom-bar">
        <ul class="title-area">
            <li class="name"><h1><a href="">XML3D-Blender</a></h1></li>
        </ul>
    </nav>
</div>
$xml3d
</body>
</html>
